@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Rushabh. How are u? What are u doing.Missing you</h1>
    
    <hr />

    <marquee direction="right" bgcolor="green"><h1>Twara</h1></marquee>
    <marquee direction="left"  bgcolor="red"><h1>Rushabh(TRP)</h1></marquee>
</div>
