@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Twara Megha Ajay</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
    <marquee direction="right" bgcolor="green"><h1>Twara :)</h1></marquee>
    <marquee direction="left"  bgcolor="yellow"><h1>Rushabh <3</h1></marquee>
</div>
